/* Color Palatte #353535(dark gray), #23B5D3{pacific blue), #3D5A6C(dark coaral blue), #F7F9F9(light gray), #BBBBBF(gray) */
body{
    background-color:#3D5A6C ;
}
.navBar{
    background-color: #3D5A6C;
  margin: 0;
  padding: 0;
}
a{
    display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;

}
a:hover{

background-color: #23B5D3;
color: #F7F9F9;

}
.active{
    color: #3D5A6C;
    background-color: #23B5D3;
}
.imgDiv{
display: block;
}
.topDiv{
height: 35%;
    display: block;
    margin-left: auto;
    margin-right: 2%;
    width: 35%;
    float: right;
    text-align: center;
     color: #BBBBBF;
    /* padding-left: 50%; */
}
